* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, 'Segoe UI', Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Calibri, 'Segoe UI', Arial, Helvetica, sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

